   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.mark}}" placeholder="Phone" name="mark">
      <label for="floatingInput">Mark</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.comment}}" placeholder="comment" name="comment">
      <label for="floatingInput">comment</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit" >Submit</button>
  </div>